<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970301722030-j3fg5hs4o7ftkfnv53uvbbkb1tn3qnsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970301722030-j3fg5hs4o7ftkfnv53uvbbkb1tn3qnsq</string>
	<key>API_KEY</key>
	<string>AIzaSyCX5gcVWUZGS2XJjidXhEvkfJOK-xXjoW4</string>
	<key>GCM_SENDER_ID</key>
	<string>970301722030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sw2.safestreets.safeStreets</string>
	<key>PROJECT_ID</key>
	<string>safestreets-90f80</string>
	<key>STORAGE_BUCKET</key>
	<string>safestreets-90f80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970301722030:ios:4b6f6e96209ce8670f0c3f</string>
	<key>DATABASE_URL</key>
	<string>https://safestreets-90f80.firebaseio.com</string>
</dict>
</plist>